<div class= "recipe-2">
<div>
<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>
<div class="recip">
<p>
  <strong>Preparation Time:</strong>
  <%= @recipe.preparation_time %>
</p>

<p>
<% if !current_user.nil? && current_user.id == @recipe.user_id %>
<%= form_for @recipe do |f| %>
  <div class="custom-control custom-switch">
    <%= f.check_box :public, id: "visibility-toggle", class: "custom-control-input" %>
    <%= f.label :public, class: "custom-control-label", for: "visibility-toggle" %>
  </div>
  
  <%= f.submit "Update Visibility", class: "btn btn-primary" %>
  <%end%>
<% end %>
</p>
</div>

<p>
  <strong>Cooking Time:</strong>
  <%= @recipe.cooking_time %>
</p>
<div class="gret">
<div class="treess">
<%= link_to 'Back', recipes_path %>
</div>

<% if user_signed_in? %>
<%= button_to 'Generate Shopping List', generate_shopping_list_path(recipe_id: @recipe.id), method: :post, class: 'recipesButton' %>
<% end %>
</div>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <% food_quantity = food.recipe_foods.find { |rf| rf.recipe_id == @recipe.id }&.food_quantity || 0 %>
          <td><%= food_quantity %></td>
          <td>$<%= food.price * food_quantity %></td>
          <td><div>
          <% if @recipe_food %>
          <%= link_to "Modify", edit_recipe_food_path(@recipe_food) %> |
          <%= button_to "Remove", @recipe_food, method: :delete %>
        <% end %>
        </div></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  </div>